/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  background-color: rgb(157, 222, 200);
  border: 3px;
  border-color: black;
  text-align: center;
  height: 50vh;
  width: 50%;
}

.personal-details {
  background-color: rgb(229, 133, 179);
  border: 3px;
  border-color: black;
  text-align: center;
  height: 50vh;
  width: 50%;
}

.second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addition {
  background-color: rgb(160, 155, 234);
  border: 3px;
  border-color: black;
  text-align: center;
  height: 50vh;
  width: 50%;
}

.example {
  background-color: rgb(224, 167, 171);
  border: 3px;
  border-color: black;
  text-align: center;
  height: 50vh;
  width: 50%;
}
